.symbolsView__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

@media (min-width: 1024px) {
  .symbolsView__content {
    flex-direction: row-reverse;
  }
}

.symbolsView__chart {
  width: 400px;
}

.symbolsView__cards {
  padding: 24px;
  background-color: #e2e2e4;
  border-radius: 5px;
  flex-grow: 1;
}

.symbolsView__cards-wrapper {
  width: 100%;
  height: calc(100vh - 310px);
  overflow: hidden;
}

@media (min-width: 1024px) {
  .symbolsView__cards-wrapper {
    height: calc(100vh - 220px);
    ::-webkit-scrollbar {
      display: none;
    }
  }
}

.symbolsView__cards {
  height: 100%;
  overflow: auto;
}
